<h1>New Account</h1>
<form method="post" action="/signup">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit">
</form>

<a href="/login">Login</a>
